name: CI, Build, Test, Lint, and Release
permissions:
  contents: read

on:
  push:
    tags:
      - "v*"

jobs:
  test:
    uses: ./.github/workflows/test.yml

  lint:
    uses: ./.github/workflows/lint.yml
    needs: test

  build:
    uses: ./.github/workflows/wheel.yml
    needs: lint

  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      attestations: write
    needs: build
    steps:
    - name: Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Python Setup and Install Dependencies
      uses: ./.github/actions/python-setup-action
      with:
        python-version: "3.12"

    - name: Build the package
      run: python -m build

    - name: Create GitHub Release
      uses: ncipollo/release-action@1c89adf39833729d8f85a31ccbc451b078733c80 # v1.19.1
      with:
        artifacts: "dist/*"
        generateReleaseNotes: true

    - name: Generate attestation
      uses: actions/attest-build-provenance@e8998f949152b193b063cb0ec769d69d929409be # v2.4.0
      with:
        subject-path: "dist/*"
